/* hide horizontal scrollbar */

body {
    overflow-x: hidden;
}

.hero-img-container {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height: 90vh;
    padding: 0px;
}

.company-title {
    font-family: 'Satisfy', cursive;
}

#navbar-company-title {
    font-size: 20px;
}

.btn.company-title {
    font-size: 40px;
}

.stars {
    color: #ffc700;
}

#map {
    height: 100%;
}

.about-us-wrapper {
    background: linear-gradient(90deg, #212626 50%, #498C4D 50%);
}